<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bayou</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
      .ui-widget-content { width: 150px; height: 210px; padding: 0.5em; }
    </style>
    <script>
      $(document).ready(function() {
        $( "#deck" ).click(function() {
          $.get(window.location.href + "/draw", function(data, status) {
            // prevent drawing from empty stack
            if (!data) {
              alert("Deck is empty.");
            }
            else {
              // append div
              $("#cards").append("<div id=\"card\" class=\"ui-widget-content\"><p>" + data + "</p></div>");
            }

            // randomize position of card
            

            // make cards movable
            $(function() {
              $( ".ui-widget-content" ).draggable();
            });
          });
        });
      });

      $(document).ready(function() {
        $( "#shuffle" ).click(function() {
          $.get(window.location.href + "/shuffle", function(data, status) {
            alert("Deck has been shuffled.");
          });
        });
      });

      $(document).ready(function() {
        $( "#new" ).click(function() {
          $.get(window.location.href + "/new", function(data, status) {
            $("#cards").empty();
          });
        });
      });

      // make deck a button and movable
      $(function() {
        $( "#deck" ).button();
        $("#deck").draggable();
      });
    </script>
  </head>
  <body>
    <div id="deck" class="ui-widget-content">
      <p>Deck</p>
    </div>
    <button id="shuffle">Shuffle</button>
    <button id="new">New</button>

    <div class="container" id="cards"></div>
  </body>
</html>
