<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bayou</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
      #deck { width: 150px; height: 210px; padding: 0.5em; }
    </style>
    <script>
      $(document).ready(function() {
        $("#deck").click(function() {
          $("body").append("");
        });
      });

      $(document).ready(function() {
        $("#shuffle").click(function() {
          $("body").append("");
        });
      });

      $(document).ready(function() {
        $("#new").click(function() {
          $("body").append("");
        });
      });

      $( function() {
        $( "#deck" ).button();
      } );
    </script>
  </head>
  <body>
    <button id="deck">Deck</button>
    <button id="shuffle">Shuffle</button>
    <button id="new">New</button>
  </body>
</html>
